<!DOCTYPE HTML>
<html>
    <head>
        <link href="/stylesheets/bootstrap.css" rel="stylesheet">
        <link href="/stylesheets/joint.min.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/javascripts/lodash.js"></script>
        <script type="text/javascript" src="/javascripts/backbone-min.js"></script>
        <script type="text/javascript" src="/javascripts/joint.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="impress-not-supported">
                
            </div>
            <div>
                <a href="#/overview">Overview</a>
            </div>
            <div id="impress">
                <div id="overview" class="step" data-x="600" data-y="-100" data-scale="4"></div>
            </div>
        </div>
     
        <script type="text/javascript" src="/javascripts/impress.js"></script>
        <script type="text/javascript" src="/javascripts/addElements.js"></script>
    </body>
</html>